@model IEnumerable<ProjectTracker.Entities.Project>

<div class="col-md-12">
    <div class="card">

        <div class="card-header card-header-info">
            <h4 class="card-title ">Projects</h4>
            <p class="card-category"> Project Details</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DueDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @*<a asp-action="Task" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>*@
                                    <a href="@Url.Action("Index", "Task", new { id = item.Id })"> @Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DueDate.Date)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Project", new { id = item.Id})" class="float-right"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
